<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="/">Blogs</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active veileder d-none" href="../veiledning">veiledning</a>
        <a class="nav-item nav-link active" href="../minSide">min side</a>
      </div>
    </div>
  </nav>