<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <h1 class="titleHome">All blogs:</h1>

    <div class="allBlogs" id="allBlogs">

    </div>
</body>
</html>