<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="allBloggs"></div>

    <% getDocs(colRef)
    .then((snapshot) => {
        let blog = []
        snapshot.docs.forEach((doc) => {
            blog.push({ ...doc.data(), id: doc.id });
            const newDiv = document.createElement('div');
            newDiv.classList.add("blogs");
            newDiv.innerHTML += `<h2> ${doc.data().Title} </h2>
            <br> Skrevet av: ${doc.data().Author} 
            <br> Innhold: ${doc.data().Text}
            <br>
            <br>
            <br>`;
    
            allBloggsElement.appendChild(newDiv);
        })
    
    })
    //feilmeldinger
    .catch(err => {
        console.log(err.message);
    }); %>
</body>
</html>